/* GLOBAL STYLES & VARIABLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #eaeaf5;
  --secondary-bg: #f4f4f5;
  --input-panel-bg: #f8fafc;
  --secondary-grey-bg: #dddfe0;
  --secondary-tone-bg: #cccccc;
  --primary-text: #1e293b;
  --primary-text-transparent: #1e293b80;
  --secondary-text: #f8fafc;
  --input-border: #bdc6d1;
  --primary-action: #5181e9;
  --primary-emphasis: #910202;
  --primary-hover: #dde8f3;
  --dark-light-action: #e1e4eb;
  --toggle-bg: #ccc;
  --toggle-round: #fff;
  --dialog-bg: #ffffff70;
}

/* THEME OVERRIDES (DARK MODE) */
[data-theme='dark'] {
  --primary-bg: #353535;
  --secondary-bg: #6e6e6e;
  --input-panel-bg: #252525fb;
  --secondary-grey-bg: #3f3f3f;
  --secondary-tone-bg: #646464;
  --primary-text: #f8fafc;
  --primary-text-transparent: #f8fafc80;
  --secondary-text: #f8fafc;
  --input-border: #53565a;
  --primary-action: #4165b4;
  --primary-emphasis: #b82d2d;
  --primary-hover: #afb0b1;
  --dark-light-action: #1b1b1b;
  --toggle-bg: #2563eb;
  --toggle-round: #fff;
  --dialog-bg: #00000070;
}

/* LAYOUT & CONTAINERS */
.wrapper {
  max-inline-size: 1200px;
  margin-inline: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--primary-bg);
  color: var(--primary-text);
}

header h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

section {
  border: var(--input-border) solid 1px;
  border-radius: 0.6rem;
}

.main-flexbox {
  display: flex;
  justify-content: space-between;

  @media screen and (width < 950px) {
    flex-direction: column;
  }
}

.panel-flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

#input-panel {
  gap: 10px;
  flex: 1 1 0;
  background: var(--input-panel-bg);
  font-size: 1.1rem;
  max-inline-size: 50%;
  line-height: 1.3;
  padding: 1rem;
  word-wrap: break-word;
}

#output-panel {
  block-size: 80vh;
}

#input-panel,
#output-panel {
  min-inline-size: 45%;

  @media screen and (width < 950px) {
    align-self: center;
    min-inline-size: 95%;
    margin: 10px;
  }
}

/* NAVIGATION & HEADER */
nav {
  display: flex;
  justify-content: center;
  position: relative;
  margin-block-start: 8px;
}

header ul {
  list-style: none;
  font-size: 3rem;
  padding: 0.5rem;
}

/* FORM ELEMENTS (INPUTS, SELECT, TEXTAREA) */
select,
#clear-btn {
  cursor: pointer;
  font: inherit;
  padding: 0.3rem;
  border: var(--input-border) solid 1px;
  border-radius: 0.6rem;
  text-align: center;
  color: var(--primary-text);
  background: var(--secondary-bg);
}

#clear-btn:hover {
  background: var(--primary-hover);
}

option {
  color: var(--primary-text);
  background: var(--primary-bg);
  cursor: pointer;
}

input {
  border: var(--input-border) solid 1px;
  padding: 0.15rem;
  border-radius: 0.3rem;
  line-height: 0;
  cursor: pointer;
}

input::placeholder {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text-transparent);
}

input[type='text'],
input[type='number'] {
  cursor: text;
  background: var(--secondary-bg);
  color: var(--primary-text);
}

textarea {
  inline-size: 100%;
  resize: vertical;
  min-block-size: 30px;
  background: var(--secondary-bg);
  color: var(--primary-text);
  border: var(--input-border) solid 1px;
}

textarea:hover {
  background: var(--primary-hover);
}

label {
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
}

#non-specific-form > * {
  padding-block: 0.15rem;
}

/* CUSTOM CHECKBOXES & TOGGLES */
input[type='checkbox'],
input[type='radio'] {
  display: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: var(--input-border) solid 1px;
  background: var(--primary-bg);
  border-radius: 0.2rem;
  display: inline-grid;
  place-content: center;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background-color: var(--primary-action);
}

input[type='checkbox']::before,
input[type='radio']::before {
  content: '';
  width: 10px;
  height: 10px;
  transform: scale(0);
  background-color: var(--secondary-text);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
  transform: scale(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.toggle-switch {
  display: inline-flex;
  position: relative;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--primary-bg);
  line-height: 1.2;
  font-size: 1rem;
  padding: 2px;
}

.toggle-switch input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}

.toggle-switch label {
  cursor: pointer;
  font: inherit;
  font-size: 0.85rem;
  text-align: center;
  inline-size: 35px;
  padding: 4px 0;
  z-index: 2;
  transition: color 0.3s ease;
  border-right: 1px solid var(--input-border);
  border-right: none;
}

.toggle-switch label:last-of-type {
  border-right: none;
}

.toggle-switch input[type='radio']:checked + label {
  background-color: transparent;
  color: var(--secondary-text);
}

#contacted-vm-no:checked ~ .selection-slider,
#intro-no:checked ~ .selection-slider,
#hw-no:checked ~ .selection-slider,
#registered-no:checked ~ .selection-slider,
#cf-signed-no:checked ~ .selection-slider,
#live-no:checked ~ .selection-slider,
#vm-no:checked ~ .selection-slider,
#successful-contact-no:checked ~ .selection-slider,
#contacted-vm-no:checked ~ .selection-slider {
  transform: translateX(0);
}

#contacted-vm-none:checked ~ .selection-slider,
#intro-none:checked ~ .selection-slider,
#hw-none:checked ~ .selection-slider,
#registered-none:checked ~ .selection-slider,
#cf-signed-none:checked ~ .selection-slider,
#live-none:checked ~ .selection-slider,
#vm-none:checked ~ .selection-slider,
#successful-contact-none:checked ~ .selection-slider,
#contacted-vm-none:checked ~ .selection-slider {
  transform: translateX(35px);
}

#contacted-vm-yes:checked ~ .selection-slider,
#intro-yes:checked ~ .selection-slider,
#hw-yes:checked ~ .selection-slider,
#registered-yes:checked ~ .selection-slider,
#cf-signed-yes:checked ~ .selection-slider,
#live-yes:checked ~ .selection-slider,
#vm-yes:checked ~ .selection-slider,
#successful-contact-yes:checked ~ .selection-slider,
#contacted-vm-yes:checked ~ .selection-slider {
  transform: translateX(70px);
}

.selection-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  block-size: calc(100% - 4px);
  inline-size: 35px;
  background-color: var(--primary-action);
  border-radius: 0.3rem;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

#show-all-worked-on,
#show-all-assigned-hw,
#completion-form-sent,
#booked-sm,
#additional-training,
#needs-reschedule,
#other-dept-appt,
#first-attempt,
#second-attempt,
#third-attempt,
#message-type-none,
#message-type-voicemail,
#message-type-email,
#message-type-text {
  background: var(--secondary-bg);
  border-radius: 1rem;
  border: 1px solid var(--primary-text);
}

#show-all-worked-on:hover,
#show-all-assigned-hw:hover,
#completion-form-sent:hover,
#booked-sm:hover,
#additional-training:hover,
#needs-reschedule:hover,
#other-dept-appt:hover,
#first-attempt:hover,
#second-attempt:hover,
#third-attempt:hover,
#message-type-none:hover,
#message-type-voicemail:hover,
#message-type-email:hover,
#message-type-text:hover {
  background: var(--primary-hover);
}

#show-all-worked-on:checked,
#show-all-assigned-hw:checked,
#completion-form-sent:checked,
#booked-sm:checked,
#additional-training:checked,
#needs-reschedule:checked,
#other-dept-appt:checked,
#first-attempt:checked,
#second-attempt:checked,
#third-attempt:checked,
#message-type-none:checked,
#message-type-voicemail:checked,
#message-type-email:checked,
#message-type-text:checked {
  background: var(--primary-action);
}

#hw-percent {
  inline-size: 50px;
}

/* THEME SWITCHER (DARK/LIGHT SLIDER) */
#dark-light-container {
  position: absolute;
  right: 0;
  border: none;
  background: none;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
  pointer-events: none;
}

.slider {
  background-color: var(--toggle-bg);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: var(--toggle-round);
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}

.slider svg {
  position: absolute;
  top: 9px;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.sun-icon {
  right: 7px;
  color: var(--primary-text);
  opacity: 1;
}

.moon-icon {
  left: 7px;
  color: var(--primary-text);
  opacity: 0;
}

#dark-light-toggle:not(:checked) + .slider .sun-icon {
  opacity: 1;
}
#dark-light-toggle:not(:checked) + .slider .moon-icon {
  opacity: 0;
}

#dark-light-toggle:checked + .slider .sun-icon {
  opacity: 0;
}
#dark-light-toggle:checked + .slider .moon-icon {
  opacity: 1;
}

.slider:before {
  z-index: 2;
}

#dark-light-toggle:checked + .slider:before {
  transform: translateX(26px);
}

#dark-light-toggle:checked + .slider {
  background-color: var(--secondary-bg);
}

[data-theme='dark'] #dark-light-toggle + .slider:before {
  transform: translateX(26px);
}

[data-theme='dark'] #dark-light-toggle + .slider {
  background-color: var(--secondary-bg);
}

/* UTILITY CLASSES & INTERACTION */
.hide-content {
  display: none;
}

.show-content {
  display: block;
}

.missed-appt,
.contacted-by-client,
.reschedule,
.podio {
  line-height: 1.6;
}

#podio-link-explaination {
  line-height: 1;
  margin-block-end: 5px;
}

.grey-bg {
  background: var(--secondary-grey-bg);
  padding: 2px;
  border: none;
}

.show-all-emphasis {
  font-style: italic;
  color: var(--primary-emphasis);
}

.default-pointer {
  cursor: default;
}

input:hover,
select:hover {
  background: var(--primary-hover);
}

input[type='checkbox']:hover {
  background: var(--primary-action);
}

dialog {
  padding: 1rem 2rem;
  border: var(--input-border) solid 1px;
  border-radius: 0.6rem;
  background: var(--input-panel-bg);
  color: var(--primary-text);
  font: inherit;
  font-weight: bold;
  font-size: 1.6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dialog-bg);
  backdrop-filter: blur(2px);
}

#clear-btn {
  inline-size: 20%;
  block-size: 2.15rem;
  transition: font-size 0.1s ease, box-shadow 0.1s ease;
}

#clear-btn:active {
  font-size: 1.15rem;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.25), inset -3px -3px 6px rgba(255, 255, 255, 0.15);
  border-color: var(--input-border);
}

#copy-btn {
  appearance: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  block-size: 40px;
  color: var(--primary-text);
  background: var(--secondary-grey-bg);
  padding: 0.3rem;
  border: var(--input-border) solid 2px;
  text-align: center;
  cursor: pointer;
  border-radius: 0.6rem 0.6rem 0 0;
  transition: font-size 0.1s ease, box-shadow 0.1s ease;
}

#copy-btn:active {
  background: var(--secondary-grey-bg);
  font-size: 1.15rem;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.25), inset -3px -3px 6px rgba(255, 255, 255, 0.15);
  border-color: var(--input-border);
}

#copy-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  box-shadow: none;
}

#html-notes {
  color: var(--primary-text);
  inline-size: 100%;
  block-size: 100%;
  resize: none;
  border-radius: 0 0 0.6rem 0.6rem;
  pointer-events: none;
}
