* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #fdfdff;
  --primary-text: #393d3f;
  --secondary-bg: #c6c5b9;
  --blue-01: #62929e;
  --blue-02: #546a7b;
}

.wrapper {
  max-inline-size: 1200px;
  margin-inline: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--primary-bg);
  color: var(--primary-text);
}

header ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.main-flexbox {
  display: flex;
  justify-content: space-between;
}

.panel-flex {
  block-size: 80vh;
  display: flex;
  flex-direction: column;
}

.hide-content {
  display: none;
}

.show-content {
  display: block;
}

#input-panel {
  background: var(--secondary-bg);
  font-size: 1.2rem;
  inline-size: 40vw;
}

#output-panel {
  inline-size: 40vw;
}

textarea {
  resize: none;
}

#html-notes {
  background: var(--blue-02);
  color: var(--primary-bg);
  inline-size: 100%;
  block-size: 100%;
}
